{{#x-let . path=(_defaultTo path "")
           _format=''}}
    {{#each versions}}
        {{~#if @first ~}}({{~/if~}}
        {{_set .. '_format' ( _upperCase ( x-extname . )) ~}}
        {{#if (_eq _format 'DOCX') }}
            {{_set .. '_format' 'Word' }}
        {{/if}}
        {{~#unless @first ~}}&nbsp;|&nbsp;{{~/unless~}}<a href="{{ x-join '/' ../path this }}" title="{{ ../label }} in {{ ../_format }} format">{{ ../_format }}</a>
        {{~#if @last ~}}){{~/if~}}
    {{/each}}
{{/x-let}}