{{#extend "default_layout" body_class="tertiary"
							stylesheets=(x-array "tertiary" "custom")
							logo_include="logo_ssc" }}

	{{#content "head-title"}}
		<title>For Your Listening Pleasure - {{> piece_citation piece=piece style="plain" }}</title>
	{{/content}}

	{{#content "body-title"}}
		<!-- TemplateBeginEditable name="Page Title" -->
		For Your Listening Pleasure - {{> piece_citation piece=piece style="em-tagged" }}
		<!-- TemplateEndEditable -->
	{{/content}}

	{{#content "introduction"}}
		<div id="sidebar_navigation">
			<h2>Contents</h2>
			<ul>
				{{#each this.albums }}
					<li><a href="#{{ _kebabCase director }}">{{ director }}</a></li>
				{{/each}}
			</ul>
		</div>
	{{/content}}

	{{#content "main-content"}}
		<div id="content_main">
			<div id="breadcrumb">
				<p>
					<!-- TemplateBeginEditable name="breadcrumb" -->
					<a href="/index.html">Symphonic Chorus Home</a>
					» 
					<a href="/fylp.html">For Your Listening Pleasure</a>
					»
					{{> piece_citation piece=piece style="em-tagged" }}
					<!-- TemplateEndEditable -->
				</p>
			</div>
			<!-- TemplateBeginEditable name="content_main" -->
			<h2>{{> piece_citation piece=piece style="em-tagged" }}</h2>

			{{#block "fylp-content"}}{{/block}}

			{{#each albums }}
				<h3 id="{{ _kebabCase director }}">{{ director }}</h3>
				<div class="pgraph">
					{{#if image }}
						{{> lightbox image=( x-join "/images/fylp" image.file )
									style='leadin'
									width=image.width
									height=image.height
									caption=( x-stringConcat director ", " label )
									img_width=109 }}
					{{/if}}
					{{x-renderTemplate . description}}
				</div>
			{{/each}}
			<!-- TemplateEndEditable -->
		</div>
	{{/content}}

	{{#content "sidebar"}}
		<div>
			{{> lightbox image="/images/graphics/Sano.jpg"
						width=220
						height=291
						caption="Director of Music and Conductor Stephen Sano"
						img_width=149 }}
		</div>
		<div id="performances">
			<h2>Performances</h2>
			{{#_forEachRight references.performances }}
				<h3><a href="/performances.html#{{ _kebabCase quarter }}">{{ quarter }}</a></h3>
			{{/_forEachRight}}
		</div>
	{{/content}}
{{/extend}}