---
title: "For Your Listening Pleasure"

logo_include: "logo_ssc"

stylesheets:
-   "secondary"

ie6_stylesheets:
-   "secondary"

scripts:

---
{{#extend "default_layout" _fylpByComposer=( _groupBy collections.fylp 'sort_name' ) }}

	{{#content "sidebar-supplement"}}
        <div id="see_also">
            {{> china_2008_info }}
        </div>
	{{/content}}

	{{#content "sidebar-intro"}}
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="content_introduction">
			<h2>For Your Listening Pleasure</h2>
			<p class="introduction">Stanford Symphonic Chorus recommends recordings of other performances that you may enjoy, in addition to attending its concerts.</p>
		</div>
		<ul>
			{{#_forEach _fylpByComposer }} {{!-- TODO this should be simpler, loop over a list of composers --}}
				{{#with (ssc-findPiece (_get . '[0].piece_ref')) }}
					<li><a href="#{{ _kebabCase composer }}">{{ composer }}</a></li>
				{{/with}}
			{{/_forEach}}
		</ul>
		<!-- TemplateEndEditable -->
	{{/content}}

	{{#content "main-content"}}
		<div id="content_main">
			<div id="breadcrumb">
				<p>
					<!-- TemplateBeginEditable name="breadcrumb" -->
					<a href="/index.html">Symphonic Chorus Home</a>
					» {{ title }}
					<!-- TemplateEndEditable -->
				</p>
			</div>
			{{#_forEach _fylpByComposer }}
				<br class="clear">
				{{#each .}}

					{{#with (ssc-findPiece piece_ref) }}
						{{#if @first}}
						<div id="{{ _kebabCase composer }}" class="middle">
							<h3>{{ composer }}</h3>
							<ul>
						{{/if}}
								<li><a href="{{ x-join '/' ( x-stringConcat ( x-dropExtname ../path ) '.html') }}">{{> piece_citation piece=. style="title-only" }}</a></li>
						{{#if @last}}
							</ul>
						</div>
						{{/if}}
					{{/with}}
				{{/each}}
			{{/_forEach}}
			<br class="clear">
		</div>
	{{/content}}
{{/extend}}