---
title: "For Your Listening Pleasure"

logo_include: "logo_ssc"

stylesheets:
-   "secondary"

ie6_stylesheets:
-   "secondary"

scripts:

---
{{#extend "default_layout" }}
	{{ -let '_fylpByComposer' ( -group-by ( -partial '-get' 'sort_name' ) collections.fylp) }}

	{{#content "sidebar-supplement"}}
        <div id="see_also">
            {{> china_2008_info }}
        </div>
	{{/content}}

	{{#content "sidebar-intro"}}
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<div id="content_introduction">
			<h2>For Your Listening Pleasure</h2>
			<p class="introduction">Stanford Symphonic Chorus recommends recordings of other performances that you may enjoy, in addition to attending its concerts.</p>
		</div>
		<ul>
			{{#each ( -keys _fylpByComposer) }}
				{{#with ..}}
					{{ -let '_currentPieceIterator' (ssc-findPiece (lookup (lookup (lookup _fylpByComposer ..) 0) 'piece_ref')) }}
				{{/with}}
				<li><a href="#{{ _dashcase ../_currentPieceIterator.composer }}">{{ ../_currentPieceIterator.composer }}</a></li>
			{{/each}}
		</ul>
		<!-- TemplateEndEditable -->
	{{/content}}

	{{#content "main-content"}}
		<div id="content_main">
			<div id="breadcrumb">
				<p>
					<!-- TemplateBeginEditable name="breadcrumb" -->
					<a href="/index.html">Symphonic Chorus Home</a>
					» {{ title }}
					<!-- TemplateEndEditable -->
				</p>
			</div>
			{{#each ( -keys _fylpByComposer) }}
				{{#with ..}}
					{{ -let '_composerIterator' (lookup _fylpByComposer ..) }}
				{{/with}}
				<br class="clear">
				{{#each ../_composerIterator}}
					{{ -let '_resolvedPiece' (ssc-findPiece piece_ref) }}
					{{#if @first}}
					<div id="{{ _dashcase _resolvedPiece.composer }}" class="middle">
						<h3>{{ _resolvedPiece.composer }}</h3>
						<ul>
					{{/if}}
							<li><a href="{{ f-join '/' ( s-concat ( f-drop-extname path ) '.html') }}">{{> piece_citation piece=_resolvedPiece style="title-only" }}</a></li>
					{{#if @last}}
						</ul>
					</div>
					{{/if}}
				{{/each}}
			{{/each}}
			<br class="clear">
		</div>
	{{/content}}
{{/extend}}