---
title: "For Your Listening Pleasure"

logo_include: "logo_ssc"

body_class: "secondary"

scripts:

---
{{#extend "default_layout" }}

	{{#content "sidebar"}}
        <div id="see_also">
            {{> china_2008_info }}
        </div>
	{{/content}}

	{{#content "introduction"}}
		<h2>For Your Listening Pleasure</h2>
		<p class="introduction">Stanford Symphonic Chorus recommends recordings of other performances that you may enjoy, in addition to attending its concerts.</p>
		<ul>
			{{#_forEach catalog.fylp.composers }}
				<li><a href="#{{ _kebabCase . }}">{{ . }}</a></li>
			{{/_forEach}}
		</ul>
	{{/content}}

	{{#content "main-content"}}
		<div id="breadcrumb">
			<p>
				<a href="/index.html">Symphonic Chorus Home</a>
				» {{ title }}
			</p>
		</div>
		{{#_forEach catalog.fylp.composers }}
			<br class="clear">
			{{#each (_get ../catalog.fylp.byComposer .) }}

				{{#if @first}}
				<div id="{{ _kebabCase piece.composer }}" class="fylp_pieces">
					<h3>{{ piece.composer }}</h3>
					<ul>
				{{/if}}
						<li><a href="{{ x-join '/' ( x-stringConcat ( x-dropExtname path ) '.html') }}">{{> piece_citation piece=piece style="title-only" }}</a></li>
				{{#if @last}}
					</ul>
				</div>
				{{/if}}
			{{/each}}
		{{/_forEach}}
		<br class="clear">
	{{/content}}
{{/extend}}