---
title: "Stanford Symphonic Chorus"

logo_include: "logo_stanford"

stylesheets:
-   "primary"

ie6_stylesheets:
-   "primary"

scripts:

---
{{ -let '_concerts' (sortBy (-union performances.current.concerts) 'start') }}

{{#extend "default_layout" }}

	{{#content "sidebar"}}
        <div id="related_pages">
            <h2>Helpful links</h2>
            {{> lightbox image="/images/graphics/steve_altos.jpg"
                         width=800
                         height=533
                         caption="Alto section in rehearsal, 25 February 2010. Photo by R. A. Wilson."
                         img_width=149 }}
            <h3>Symphonic Chorus</h3>
            <ul>
                <li><a href="/performances.html">SSC Performances</a></li>
                <li><a href="/fylp.html">For your listening pleasure</a></li>
                <li><a href="/MemberPage.html#auditions">Joining the Chorus</a></li>
                <li>{{#> link_object href=performances.current}}Rehearsal Schedule{{/link_object}}</li>
            </ul>
            {{> lightbox image="/images/graphics/rehearsal_front.jpg"
                         width=800
                         height=533
                         caption="Rehearsal, 25 February 2010. Photo by R. A. Wilson."
                         img_width=149 }}
            <h3>Stanford Arts</h3>
            <ul>
                <li><a href="//music.stanford.edu/Home/index.html">Music Department</a></li>
                <li><a href="//music.stanford.edu/Ensembles/index.html">Stanford Ensembles</a></li>
                <li><a href="//live.stanford.edu/">Stanford Live</a></li>
                <li><a href="//arts.stanford.edu/">Stanford Arts</a></li>
                <li><a href="//www.stanford.edu/group/tickets/index.html">Stanford Ticket Office</a></li>
            </ul>
        </div>
	{{/content}}

	{{#content "main-content"}}
		<div id="content_main">
			<!-- TemplateBeginEditable name="banner" -->
			<div id="spotlight">
				<div id="banner">
					<div>
						{{> lightbox image="/performances/W2010/FullChorus27Feb2010.JPG"
									display="/images/graphics/ChorusBanner.jpg"
									style='banner'
									width=800
									height=518
									caption="Performance of Beethoven Mass in C on 27 February 2010. Photo by R. A. Wilson."
									img_width=754
									img_height=160 }}
					</div>
				</div>
			</div>
			<!-- TemplateEndEditable -->
			<div id="content_left">
				<!-- TemplateBeginEditable name="content_left" -->
				<div id="events">
					<h2>Events</h2>
					{{> lightbox image="/images/graphics/MemChu.jpg"
								width=1314
								height=852
								caption="Memorial Church, 22 February 2010. Photo by R. A. Wilson."
								img_width=149 }}

					{{#*inline "first-rehearsal-event"}}
						<p>First rehearsal: <span class="event_time">{{> piece_citation piece=performances.current.main_piece style="em-tagged" }}</span></p>
						<p>{{ d-format 'h:mma' event.start }} {{> loc_citation loc=event.location }}; <em>registration starts at {{ d-format 'h:mma' event.registration }}</em></p>
					{{/inline}}
					
					{{#*inline "concert-event"}}
						<p>
							Symphonic Chorus Performance:
							<span class="event_time">
								{{> piece_citation piece=performances.current.main_piece style="em-tagged" }}
								{{#if performances.current.collaborators}}
									with {{> collab_citation performances.current.collaborators}}
								{{/if}}
							</span>
						</p>
						<p>{{ d-format 'h:mma' event.start }} {{> loc_citation loc=event.location }}</p>
					{{/inline}}

					{{#*inline "other-event"}}
						<p>{{ event.title }}</p>
						<p>{{ d-format 'h:mma' event.start }} {{> loc_citation loc=event.location }}</p>
					{{/inline}}

					{{#if performances.current.first_rehearsal}}
						{{#with performances.current.first_rehearsal}}
							{{ -let '_eventPartial' 'first-rehearsal-event' }}
						{{/with}}
					{{/if}}
					{{#each performances.current.concerts}}
						{{ -let '_eventPartial' 'concert-event' }}
					{{/each}}
					{{#each performances.current.events}}
						{{ -let '_eventPartial' 'other-event' }}
					{{/each}}

					{{ -let '_events' (-array) }}
					{{#if performances.current.concerts }}
						{{ -let '_events' (-union _events performances.current.concerts) }}
					{{/if}}
					{{#if performances.current.first_rehearsal }}
						{{ -let '_events' (-union _events performances.current.first_rehearsal) }}
					{{/if}}
					{{#if performances.current.events }}
						{{ -let '_events' (-union _events performances.current.events) }}
					{{/if}}
					{{ -let '_events' (sortBy _events 'start') }}

					{{#each _events}}
						<div>
							<h3>
								<span class="event_day">{{ d-format 'D' start }}</span>
								<span class="event_month">{{ d-format 'MMM' start }}<br>{{ d-format 'YYYY' start }}</span>
							</h3>
							<div class="event_list">
								{{> (lookup . '_eventPartial') .. event=.}}
							</div>
						</div>
					{{/each}}
				</div>
				<!-- TemplateEndEditable -->
				<hr class="clearer">
			</div>
			<div id="content_center">
				<!-- TemplateBeginEditable name="content_center" -->
				<h2>Welcome</h2>
					<div>

						<h3>The Chorus</h3>
						<div>
							{{> lightbox image="/images/graphics/SmallW10.jpg"
										style='leadin'
										width=700
										height=448
										caption="Performance of Beethoven's Mass in C, 27 February 2010. Photo by R. A. Wilson."
										img_width=139 }}
							<p>
								The Stanford Symphonic Chorus is a group of
								approximately 180 students, faculty, staff, and
								members of the community led by Director of Music
								and Conductor Stephen Sano. The Chorus generally
								performs three works a year, one each academic
								quarter. Each performance typically features a large
								choral work, and includes other choral or
								instrumental pieces. See our <a href="/performances.html">
								Performances</a> page for information about past
								performances.
							</p>
						</div>

						<hr class="clearer">

						<h3><a href="/performances.html">{{performances.current.quarter}} Concert</a></h3>
						<div>
							{{#if performances.current.images }}
								{{> lightbox image=( f-join '/'
															(f-dirname performances.current.path)
															(lookup (lookup performances.current.images 0) 'file'))
											style='leadin'
											width=image.width
											height=image.height
											caption=image.caption
											img_width=109 }}
							{{/if}}
							{{ performances.current.description }}
							<p>
								Performance{{#if ( -gt? ( -size _concerts ) 1) }}s{{/if}}
								at {{> loc_citation loc=(lookup (-first _concerts) 'location') style="formal" }}
								on
								{{#ssc-sentence (pluck _concerts 'start')}}{{d-format 'dddd, MMMM Do' .}}{{/ssc-sentence}}
							</p>
							<br>
							<ul class="pgraph" style="display:none;">
								{{! HOWTO: The display:none style hides this element. Remove it and udpate the links when you're ready to include a link to the ticket ordering pages. }}
								<li><a href="//liveticket.stanford.edu/single/SelectSeatingSYOS.aspx?p=4634&z=182&pt=47,2,4,5,12,16">Tickets for Friday 15 March</a></li>
								<li><a href="//liveticket.stanford.edu/single/SelectSeatingSYOS.aspx?p=4635&z=182&pt=47,2,4,5,12,16">Tickets for Sunday 17 March</a></li>
							</ul>
						</div>
					</div>
				<!-- TemplateEndEditable -->
			</div>
		</div>
	{{/content}}
{{/extend}}