---
title: "Performances"

logo_include: "logo_ssc"

body_class: "secondary"

stylesheets:
-   "secondary"

scripts:

---
{{#extend "default_layout" _programsByYear=( _groupBy catalog.performances.upToDate '_.year' ) }}
	
	{{#content "introduction"}}
		<!-- TemplateBeginEditable name="sidebar_introduction" -->
		<h2>Performances</h2>
		<p class="introduction">Stanford Symphonic Chorus performs symphonic works three times a year - each academic quarter.</p>
		<h3>Years</h3>
		<ul>
			{{#_forEachRight _programsByYear }}
				<li><a href="#{{ _kebabCase (_get (_last .) 'quarter') }}">{{ @key }}</a></li>
			{{/_forEachRight}}
		</ul>
		<!-- TemplateEndEditable -->
	{{/content}}

	{{#content "sidebar"}}
		<div id="see_also">
            {{> china_2008_info }}
        </div>
	{{/content}}

	{{#content "main-content"}}
		<div id="breadcrumb">
			<p>
				<!-- TemplateBeginEditable name="breadcrumb" -->
				<a href="/index.html">Symphonic Chorus Home</a>
				» {{ title }}
				<!-- TemplateEndEditable -->
			</p>
		</div>
		{{#_forEachRight _programsByYear}}
			{{#_forEachRight .}}
				<br class="clear">
				<div id="{{ _kebabCase quarter }}" class="performance">
					{{#if poster}}
						{{#x-let . _lightBox_display=poster.jpg
								_lightBox_image=(_defaultTo poster.pdf poster.jpg.file) }}
							{{> lightbox image=(x-join '/' (x-dirname path) _lightBox_image)
										display=(x-join '/' (x-dirname path) _lightBox_display.file)
										width=_lightBox_display.width
										height=_lightBox_display.height
										caption=_lightBox_display.caption
										img_width=107 }}
						{{/x-let}}
					{{else if images}}
						{{#x-let . _lightBox_display=(_first images)
								_lightBox_image=(_get images '[0].file') }}
							{{> lightbox image=(x-join '/' (x-dirname path) _lightBox_image)
										display=(x-join '/' (x-dirname path) _lightBox_display.file)
										width=_lightBox_display.width
										height=_lightBox_display.height
										caption=_lightBox_display.caption
										img_width=107 }}
						{{/x-let}}
					{{else}}
						<img src="/images/M@S-roundedges.gif" alt="">
					{{/if}}

					<div class="content">
						<h3>{{ quarter }}</h3>
						
						{{#each repertoire }}
							{{#if @first}}
								<p>Repertoire:</p>
								<ul class="artists">
							{{/if}}
									<li>{{> piece_citation piece=. style="em-tagged" }}</li>
							{{#if @last}}
								</ul>
							{{/if}}
						{{/each}}
						
						{{#each soloists }}
							{{#if @first }}
								<p>With soloists:</p>
								<ul class="soloists">
							{{/if}}
									<li>{{ name }}, {{ part }}</li>
							{{#if @last }}
								</ul>
							{{/if}}
						{{/each}}
						
						{{#if collaborators }}
							<p>Performed with {{> collab_citation collaborators}}.</p>
						{{/if}}

						{{#if directors }}
							<p>Directed by {{#x-sentence directors }}{{.}}{{/x-sentence}}.</p>
						{{/if}}
						
						<h4>Concerts:</h4>
						{{#each concerts}}
							<p>{{ x-formatDate 'dddd D MMMM YYYY, h:mma' start }}, {{> loc_citation loc=location }}</p>
						{{/each}}
					</div>
					<ul class="links">
						{{#if poster }}
							<li>Poster {{> file_links label=(x-stringConcat quarter ' poster')
													versions=( x-array poster.pdf poster.jpg.file )
													path=(x-dirname path) }}</li>
						{{/if}}
						{{#each references.fylp }}
							<li><a href="{{ x-join '/' (x-stringConcat (x-dropExtname path) '.html') }}">For your listening pleasure: {{> piece_citation piece=piece style="em-tagged" }}</a></li>
						{{/each}}
						{{#each links}}
							{{#if file }}
								{{_set . '_linkUrl' ( x-join '/' ( x-dirname ../path ) file ) }}
							{{else}}
								{{_set . '_linkUrl' url }}
							{{/if}}
							<li><a href="{{{ _linkUrl }}}">{{{ text }}}</a></li>
						{{/each}}
					</ul>
				</div>
			{{/_forEachRight}}
		{{/_forEachRight}}
		<!-- ====================================================================== -->
		<br class="clear">
	{{/content}}

{{/extend}}